body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.habitation-details-container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.habitation-details h1 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.habitation-details h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
}

.habitation-details p {
    font-size: 1em;
    margin: 5px 0;
    color: #666;
}

.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 50%;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.action-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.action-buttons button:hover {
    opacity: 0.8;
}

.action-buttons .delete {
    background-color: #dc3545;
}

.action-buttons .delete:hover {
    background-color: #c82333;
}

.action-buttons .edit {
    background-color: #28a745;
}

.action-buttons .edit:hover {
    background-color: #218838;
}